/*Configuração gerais */

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    height: 600px;
    display: flex;
    background-image: url("/imag/capa.png");
    margin: 0px auto;
    justify-content: space-around;
}

h1{
    font-size: 40px;
    height: 40px;
    text-transform: uppercase;
    color:#FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    padding-top: 20px ;
    letter-spacing: -0.8px;
    line-height: normal;
    
}
.primeira-cor{
    position: relative;
    color: #EAAB0A;;
}

.segundo-title{
    display: block;
    font-size: 16px;
    position: absolute;
    top: 60px; /* ou qualquer valor que você desejar */
    left: 17%; 
    color: #fff;
    margin-top: -1px;
    font-weight: 300;
}

ul, li, a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 16px;
    margin-right: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 12px;
}

.link-destaque{
    color:#FFC501;;
}

/*header*/

header {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px; /* Espaçamento interno */
    top: 200px; /* Para posicionar o header no topo da janela */
    z-index: 1000; /* Para garantir que o header esteja sobreposta a outros elementos */
    text-align: center;
    padding-left: 43%;
    color: #fff;
    
}

h2{
    color: #FFC501;
    font-family: Montserrat;
    font-size: 104px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

header p{
    text-align: justify;
    width: 50%;
    padding-left: 30%;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}



.destaque{
    width: 494px;
    height: 790px;
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    text-align: center;
    background: #FFF;
}

#paragrafo h4{
    width: 500px;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 20%;
    height: 100px;
}

.inform{
    font-size: 22px;
    margin-bottom: 60px;
}
.pessoa{
    width: 600px;
    height: 715px;
    flex-shrink: 0;
    padding-top: 15.1%;
    padding-left: 30%;


}

.parceria{
    background: #FFC501;
    width: 100%;
    height: 552px;
    flex-shrink: 0;
    text-align: center;
}

.trabalho{
    color: #000;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 4%;
}

.empresa{
    padding-top: 4%;
}


.section-predio{
    text-align: center;
    flex-shrink: 0;
    padding-top: 50px;
    background: #FFF;
    height: 520px;
}

.image-predio{
    width: 800px;
}

footer {
    background-color: #333; /* Cor de fundo do footer, você pode alterar para a cor desejada */
    color: #fff; /* Cor do texto no footer, você pode alterar para a cor desejada */
    padding: 60px; /* Espaçamento interno para melhor visualização */
    
    /* Centralize o conteúdo dentro do footer */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

footer p{
    text-align: center;
}

  /* Adicione estilos adicionais para as classes .primeira-cor e .segundo-title, se necessário */



